body {
    background-color: #333;
    color: #FFFFFF;
}

button {
    background-color: #333;
    border: 1px solid white;
}

select {
    background-color: #333;
}

::-webkit-scrollbar {     
        background-color: #444;
}
::-webkit-scrollbar:horizontal {
    background-color: #333;
}
::-webkit-scrollbar-corner {
    background-color: #333;
}
::-webkit-scrollbar-thumb {
    background: #646464;
}

