#visualization {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 10vh 75vh 10vh;
  grid-row-gap: 10px;
  overflow: hidden;
}

#title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

#left-panel-ui {
  grid-row: 2;
  grid-column: 1;
  outline-style: solid;
}

#canvas {
  grid-row: 2;
  grid-column: 2;
}

#right-panel-ui {
  grid-row: 2;
  grid-column: 3;
  outline-style: solid;
}

#bottom-panel-ui {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  outline-style: solid;
}
